/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

html{
    font-family: 'Fredoka', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
/* MAIN */


ul{
    list-style-type: none;
    display: flex;
    display: none;
}

li{
    padding: 0.5em;
    color: white;
}

#get-started{
    background-color: white;
    color: black;
    padding: 0.5em;
    border-radius: 20px;
}

.container{
    max-width: 1200px;
}

.header{
    height: 60px;
    background-color: #0084fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 400px;
    width: 340px;
    margin-bottom: 1em;
    border-radius: 40px;
    background-color: #b5ddff;
}

.big{
    height: 550px;
    width: 340px;
}

.very-big{
    height: 650px;
    width: 340px;
}

.img-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.footer{
    background-color: #333333;
    height: 250px;
}

.footer-card{
    height: 200px;
    width: 340px;
    border:solid 1px white ;
}

/* UTILITIES */
/* palette */
.violet{
    background-color: #9593e6;
}

.white{
    background-color: white;
}


/* margin-padding */
.mt{
    margin-top: 1em;
}

.mb{
    margin-bottom: 1em;
}

/* border */
.border{
    border: solid 1px black;
}

/* flex */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}



/* tablet 768px */
@media screen and (min-width: 768px){
   
    .tablet{
        height: 550px;
    }

    .first-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1em;
    }

    #first-card{
        width: calc(90% / 3 * 2);
        height: 550px;
    }

    #second-card{
        width: calc(90% / 3);
        height: 550px;
    }

    .second-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1em;
    }

    .second-col .card{
        width: calc(90% / 3);
    }

    .width-90{
        width: 90%;
    }

    .img-circle{
        height: 250px;
        width: 250px;
        margin-left: 1em;
    }

    .flex-start{
        justify-content: flex-start;
        align-items: center;
    }

    .gap-1{
        gap: 1em;
    }


    .mt-768{
        margin-top: 1em;
    }

    .big-mt{
        margin-top: 8.5em;
    }

    #sec-5-circle{
        display: flex;
        justify-content: center;
    }

    #margin-top{
        margin-top: 1em;
    }
}



/* desktop 992px */
@media screen and (min-width: 992px){
    ul{
        display:flex;
    }

    .fa-solid.fa-bars{
        display: none;
    }

    #first-card-second-section{
        width: calc(90% / 2 - 1em);
    }

    #second-card-second-section{
        width: calc(90% / 2 - 1em);
        margin-top: 1em;
    }

    .row-3-cards{
        width: 90%;
        display: flex;
        align-items: flex-end;
    }

    .card-992{
        width: calc(100% / 3 - 1em);
        height: 400px;
    }

    .width-992-text{
        width: calc(60% - 1em);
    }

    .width-992-image{
        width: calc(30% - 1em);
    }

    .width600{
        width: 600px;
    }
}