/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* MAIN */
/* HEADER */
.container{
    max-width: 1200px;
}

.header{
    height: 60px;
    background-color: #0084fd;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 400px;
    width: 340px;
    margin-bottom: 1em;
    border-radius: 40px;
    background-color: #b5ddff;
}

.big{
    height: 550px;
    width: 340px;
}

.very-big{
    height: 650px;
    width: 340px;
}

.img-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.footer{
    background-color: #333333;
    height: 250px;
}

.footer-card{
    height: 200px;
    width: 340px;
    border:solid 1px white ;
}

/* UTILITIES */
/* palette */
.violet{
    background-color: #9593e6;
}

.white{
    background-color: white;
}


/* margin-padding */
.mt{
    margin-top: 1em;
}

.mb{
    margin-bottom: 1em;
}

/* border */
.border{
    border: solid 1px black;
}

/* flex */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}

/* tablet 768px */
@media screen and (min-width: 768px){
   
    .tablet{
        height: 550px;
    }

    .first-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1em;
    }

    #first-card{
        width: calc(90% / 3 * 2);
        height: 550px;
    }

    #second-card{
        width: calc(90% / 3);
        height: 550px;
    }

    .second-col{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        gap: 1em;
    }

    .second-col .card{
        width: calc(90% / 3);
    }

    .width-90{
        width: 90%;
    }

    .img-circle{
        height: 250px;
        width: 250px;
        margin-left: 1em;
    }

    .flex-start{
        justify-content: flex-start;
        align-items: center;
    }

    .gap-1{
        gap: 1em;
    }

    .mt-768{
        margin-top: 1em;
    }

    .big-mt{
        margin-top: 8.5em;
    }

    #sec-5-circle{
        display: flex;
        justify-content: center;
    }
}