/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* MAIN */
/* HEADER */
.header{
    height: 60px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1em;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 200px;
    width: 90%;
    margin-bottom: 1em;
    border-radius: 20px;
    background-color: #b5ddff;
}

.big{
    height: 350px;
}