/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}


/* MAIN */
/* HEADER */
.header{
    height: 60px;
    background-color: #0084fd;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    margin-bottom: 1em;
}

.cards{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
    height: 300px;
    width: 90%;
    margin-bottom: 1em;
    border-radius: 40px;
    background-color: #b5ddff;
}

.big{
    height: 450px;
}

.very-big{
    height: 550px;
}

.img-circle{
    height: 150px;
    width: 150px;
    border-radius: 50%;
}

.footer{
    background-color: #333333;
    height: 250px;
}

.footer-card{
    height: 200px;
    width: 90%;
    border:solid 1px white ;
}

/* UTILITIES */
/* palette */
.violet{
    background-color: #9593e6;
}

.white{
    background-color: white;
}


/* margin-padding */
.mt{
    margin-top: 1em;
}

.mb{
    margin-bottom: 1em;
}

/* border */
.border{
    border: solid 1px black;
}

/* flex */
.flex{
    display: flex;
}

.justify-center{
    justify-content: center;
}

.align-center{
    align-items: center;
}